@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *) );

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* marquee animation */
.marquee-track {
  display: flex;
  width: max-content;
  animation: marquee 60s linear infinite;
}

/* pause on hover */
.marquee-track:hover {
  animation-play-state: paused;
}
